*{
	margin: 0;
	padding: 0;
}
body{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Khula', sans-serif;
}
body{ 
	background-color: rgba(204, 154, 231, .4);
	top: 0;
	left: 0;
	bottom: 0;
}
a {
	text-decoration: none;
	color: black;
}
ul{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
nav{
	width: 250px;
}